<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".CadernosApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Cadernos Digitais"
        android:theme="@android:style/Theme.DeviceDefault.DayNight"
        android:supportsRtl="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".CadernoActivity" android:exported="false" />
        <activity android:name=".NovaPaginaActivity" android:exported="false" />
        <activity android:name=".PaginaActivity" android:exported="false" />
        <activity android:name=".ResumoDiaActivity" android:exported="false" />
        <activity android:name=".BuscaActivity" android:exported="false" />
        <activity android:name=".ConfiguracoesActivity" android:exported="false" />
        <activity android:name=".ConfigAparenciaActivity" android:exported="false" />
        <activity android:name=".ConfigPerfilActivity" android:exported="false" />
        <activity android:name=".ConfigEmailActivity" android:exported="false" />
        <activity android:name=".ConfigSegurancaActivity" android:exported="false" />
        <activity android:name=".ConfigContaActivity" android:exported="false" />
        <activity android:name=".ProfessoresActivity" android:exported="false" />
        <activity android:name=".EnviarEmailActivity" android:exported="false" />
        <activity android:name=".CompartilharActivity" android:exported="false" />
        <activity
            android:name=".TelaBloqueioActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".OcrActivity" android:exported="false" />
        <service
            android:name=".CadernosMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".CompartilhadoActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="cadernos" android:host="compartilhar" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
